<h2 style="font-family: 'Times New Roman', Times, serif; font-size: 28px; font-style: italic">
  It's Official, {{.GuestName}}!
</h2>
<p>Your RSVP is confirmed! We are so excited to have you join us to celebrate our wedding.</p>
<p>Please present this QR code at the entrance for quick and easy check-in.</p>

<div style="margin-top: 30px">
  <img
    src="{{.QRCode}}"
    alt="Your RSVP QR Code"
    style="width: 200px; height: 200px; margin: auto"
  />
  <p style="font-size: 16px; font-weight: bold; margin-top: 10px">{{.GuestName}}</p>
  <p style="font-size: 14px; color: #555">Number of Guests: {{.NumberOfGuests}}</p>
  <p style="font-size: 14px; color: #555">Guests phone Number: {{.Phone}}</p>
</div>
